{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Voting system</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<body>
<div id="main-div">

<div id="div1">
	Candidates:
	{% block contain %}
		{% for x in candidates %}
		<h3>
			{{x}} : 
		</h3>		
		{% endfor %}
	{% endblock %}
</div>
<div id="div2">
	Resutls:
	{% block res %}
		{% for x in result %}
		<h3>
			{{x}}
		</h3>		
		{% endfor %}
	{% endblock %}
</div>
	

</div>

<div>
	<button action="/click.html">Click me !!</button>
</div>
	<link rel="javascript" type="text/js" href="{% static '/js/app.js' %}">
</body> 
</html>