h1{
	color: orangered;
}
body{
	background-color: rgba(48, 124, 175, 0.918);
}

#main-div{
	background-color: aquamarine;
	display: flexbox;
}
#div1{
	background-color: coral;
	color: mediumpurple;
	width: 200px;

}
#div2{
	background-color:mediumpurple;
	width: 200px;
}